
#contenedor{
	width: 1024px;
	height: 768px;
	margin: auto;
	position: relative;
}
body{
	background-color: beige;
}
header{
	width: 960px;
	height: 100px;
	border-style:solid;
	border-color: #004669;
	border-radius: 10px;
	margin-bottom:10px;
	margin-top: 10px;
}
h1{
	width: 960px;
	font-size:40px ;
	text-align: center;
	color: blue;
}
h2{
	text-align: center;
	color: #617e07;
}
h3{
	margin-top: 10px;
	text-align: center;
	color:#E26C0E;
	
}
*{
	padding: 0px;
	margin: 0px;

}

 ul, ol{
 	list-style: none;
 	background: #004669;
 	}
.nav li a{
	background-color: #004669;
	color: white;
	text-decoration: none;
	padding:5px 45px;
	display: block; 
	border-radius: 5px;

}
.nav li a:hover{
	background-color: #e7b200; 

}
.nav > li{
	float: left;
}
.nav li ul{
	display: none;
	position: absolute;
	min-width: 130px
}
.nav li:hover> ul{
	display: block;
}

section{
	width: 500px;
	height: 800px;
	float:left;
	border-style: solid;
	border-color: #004669;
	border-radius: 10px;
	margin-top: 7px;
	text-align: justify;
	padding: 5px;
}
#introduccion{

	width: 950px;
	height: 200px;
	float: left;
	border-style: solid;
	border-color: #004669;
}

aside{
	float: left;
	width: 410px;
	height: 800px;
	border-style:solid;
	border-color:  #004669;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 7px;
	padding: 5px;


}

img{
	margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
    
}
#imgE{
	width: 550px;
	height: 400px;
	float: left;
	
}

#definicion{
	float: left;
	width: 930px;
	height: 100px;
	border-style: solid;
	text-align:justify;
	padding: 20px;
	margin-top:0px;
}
#ejemplo{
	width:400px;
	height:600px;
	margin-top: 20px;
	padding: 10px;
	float:left;
}
footer{
	
	width: 960px;
	height: 100px;
	backface-visibility: visible;
	background: gray;
	background-color: gray;
	align-self: flex-end;
	float: left;
	margin-top: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
	text-align: center;
	text-align: inherit;
}
#seguir{
	width: 500px;
	height: 100px;
	text-align: center;
}
#imgin{
	width: 550px;
	height: 480px;
	float: left;
	
}
#fun{
	float: left;
	width: 930px;
	height: 120px;
	border-style: solid;
	text-align:justify;
	padding: 20px;
	margin-top:10px;
}
#img1{
	float: left;
	width: 550px;
	height: 200;
	border-style: groove;
	
}
#img2{
	float: left;
	width: 550px;
	height: 250px;
	margin-top: none;
	border-style: groove;
}
#seguiror{
	margin-top: none;
	width: 550px;
	height: 78px;
}
#descripcion{
	float: left;
	width: 520px;
	height: 300px;
	padding: 3px;
	text-align: justify;
}
#imgshel{
	float: left;
	width: 420px;
	height: 300px;
	margin-left: 20px;
}
#seguir2{
	float: left;
	width: 520px;
	height: 100px;
	text-align: center;
	margin-left: 0px;
}
#funq{
	float: left;
	width: 960px;
	height: 200px;
	
}
#imgq{
	float: left;
	width: ;
}